Protocol 2
Port {{ openssh_port }}
AddressFamily {{ openssh_address_family }}
{% for item in openssh_listen_addresses %}
ListenAddress {{ item }}
{% endfor %}

{% for item in openssh_host_keys %}
HostKey /etc/ssh/{{ item.name }}
{% endfor %}

Ciphers {{ openssh_valid_ciphers | join(',') }}
MACs {{ openssh_valid_macs | join(',') }}
KexAlgorithms {{ openssh_valid_kex | join(',') }}

SyslogFacility {{ openssh_syslog_facility }}
LogLevel {{ openssh_log_level }}

{% if openssh_deny_users | default(False) %}
DenyUsers {{ openssh_deny_users | join(' ') }}
{% endif %}
{% if openssh_allow_users | default(False) %}
AllowUsers {{ openssh_allow_users | join(' ') }}
{% endif %}
{% if openssh_deny_groups | default(False) %}
DenyGroups {{ openssh_deny_groups | join(' ') }}
{% endif %}
{% if openssh_allow_groups | default(False) %}
AllowGroups {{ openssh_allow_groups | join(' ') }}
{% endif %}
UsePAM {{ openssh_use_pam }}
LoginGraceTime {{ openssh_login_grace_time }}
PermitRootLogin {{ openssh_permit_root_login }}
PubkeyAuthentication {{ openssh_pubkey_authentication }}
StrictModes {{ openssh_strict_modes }}
IgnoreRhosts {{ openssh_ignore_rhosts }}
IgnoreUserKnownHosts {{ openssh_ignore_user_known_hosts }}
HostbasedAuthentication {{ openssh_hostbased_authentication }}
MaxAuthTries {{ openssh_max_auth_tries }}
MaxSessions {{ openssh_max_sessions }}
MaxStartups {{ openssh_max_startups }}

AuthorizedKeysFile {{ openssh_authorized_keys_file | join(' ') }}
RevokedKeys {{ openssh_revoked_keys_file }}
PasswordAuthentication {{ openssh_password_authentication }}
PermitEmptyPasswords {{ openssh_permit_empty_passwords }}
ChallengeResponseAuthentication {{ openssh_challenge_response_authentication }}
{% if openssh_trusted_user_ca_keys_file | default(False) %}

TrustedUserCAKeys {{ openssh_trusted_user_ca_keys_file }}
{% if openssh_authorized_principals_file %}
AuthorizedPrincipalsFile {{ openssh_authorized_principals_file }}
{% endif %}
{% endif %}
{% if openssh_kerberos_authentication | default('no') == 'yes' %}

KerberosAuthentication {{ openssh_kerberos_authentication }}
KerberosOrLocalPasswd {{ openssh_kerberos_or_local_passwd }}
KerberosTicketCleanup {{ openssh_kerberos_ticket_cleanup }}
KerberosGetAFSToken {{ openssh_kerberos_get_afs_token }}

GSSAPIAuthentication {{ openssh_gssapi_authentication }}
GSSAPICleanupCredentials{{ openssh_gssapi_cleanup_credentials }}
GSSAPIStrictAcceptorCheck{{ openssh_gssapi_strict_accept_or_check }}
GSSAPIKeyExchange{{ openssh_gssapi_key_exchange }}
{% endif %}

TCPKeepAlive {{ openssh_tcp_keep_alive }}
ClientAliveInterval {{ openssh_client_alive_interval }}
ClientAliveCountMax {{ openssh_client_alive_count_max }}
PermitTunnel {{ openssh_permit_tunnel }}
AllowAgentForwarding {{ openssh_allow_agent_forwarding }}
AllowTcpForwarding {{ openssh_allow_tcp_forwarding }}
GatewayPorts {{ openssh_gateway_ports }}
X11Forwarding {{ openssh_x11_forwarding }}
X11UseLocalhost {{ openssh_x11_use_localhost }}

PermitUserEnvironment {{ openssh_permit_user_environment }}
AcceptEnv {{ openssh_accept_env_vars | join(' ') }}

Compression {{ openssh_compression }}
UseDNS {{ openssh_use_dns }}
PrintMotd {{ openssh_print_motd }}
PrintLastLog {{ openssh_print_last_log }}
Banner {{ openssh_banner }}

Subsystem sftp internal-sftp
{% if openssh_sftp_enabled %}

Match Group {{ openssh_sftp_group }}
    ForceCommand internal-sftp
{% if openssh_sftp_chroot_directory | default(False) %}
    ChrootDirectory {{ openssh_sftp_chroot_directory }}
{% endif %}
    PasswordAuthentication {{ 'yes' if openssh_sftp_password_authentication else 'no' }}
    PermitRootLogin no
    AllowAgentForwarding no
    AllowTcpForwarding no
    X11Forwarding no
{% endif %}
{% if openssh_match_address | default(False) %}

{% for item in openssh_match_address %}
Match Address {{ item.address }}
{% for rule in item.rules %}
    {{ rule | indent(4) }}
{% endfor %}
{% endfor %}
{% endif %}
{% if openssh_match_group | default(False) %}

{% for item in openssh_match_group %}
Match Group {{ item.group }}
{% for rule in item.rules %}
    {{ rule | indent(4) }}
{% endfor %}
{% endfor %}
{% endif %}
{% if openssh_match_user | default(False) %}

{% for item in openssh_match_user %}
Match User {{ item.user }}
{% for rule in item.rules %}
    {{ rule | indent(4) }}
{% endfor %}
{% endfor %}
{% endif %}
